* {
  font-family:
    "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter",
    monospace;
}

:root {
  --background: #2cda9d;
  --background1: #e84855;
  --background2: #14281d;
  --buttons: #068d9d;
  --white: #f7f7ff;
}

body {
  width: 100vw;
  padding: 0px;
  margin: 0px;
  border: 0px;
  min-height: 100lvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
}

.header {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--buttons);
  width: 100vw;

  h1 {
    color: var(--white);
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

h1 {
  text-align: center;
}

h5 {
  font-size: 3ch;
  margin-bottom: 0ch;
}

h6 {
  font-size: 2ch;
  margin-bottom: 0ch;
}

p {
  font-size: 2ch;
}

.main {
  width: 75%;
  min-height: 100vh;
  background-color: var(--white);
  padding: 2%;
}

.ProfilePic {
  float: right;
  width: 25%;
  height: auto;
  border: 2px solid #000;
  padding: 5px;
}

.spacer {
  height: 3rem;
}

button {
  margin: 0px;
  padding: 0px;
  background-color: var(--buttons);
  width: 33.33%;
  color: var(--white);
  transition: all 0.25s;
  border: #000 3px solid;
  height: 5rem;
}

button:hover {
  background-color: #53599a;
}

.Footer {
  background-color: var(--buttons);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  min-height: 10vh;

  a {
    flex: 1;
    margin: 1ch 1%;
    color: var(--white);
    text-align: center;
  }
}

/* Contact */
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;

  * {
    font-size: 17.5pt;
  }
}

li .Subtext {
  margin-top: -2ch;
  font-size: 15pt;
}

/* Portfolio */

.heading {
  text-align: center;
}

.container {
  margin: 2% 0%;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 50vh;
  gap: 2rem;

  justify-content: center;

  button {
    position: relative;
    padding: 0;
    width: 40vw;
    height: auto;

    aspect-ratio: 2/1;

    max-width: 40vw;
    max-height: 28vh;

    display: flex;

    align-items: center;
    justify-content: center;

    overflow: hidden;

    img {
      width: 100%;
      max-width: 100vw;
      min-height: 110%;
      margin: 0;
      object-fit: cover;
      transition: all 0.25s;
    }

    .Blurred {
      width: 200%;
      height: 200%;
      object-fit: cover;
      filter: blur(2px);
    }

    .Overlay {
      position: absolute;
      box-sizing: border-box;
      position: absolute;
      display: flex;
      margin: 0;
      max-width: 40vw;
      max-height: 28vh;
      width: 100%;
      height: 100%;
      align-items: end;
      text-align: left;
      background-color: rgba(60, 60, 60, 0.5);

      padding: 10px;

      opacity: 0;
      transition: all 0.25s;
    }

    p {
      position: absolute;
      background-color: rgba(60, 60, 60, 0.5);
      padding: 10px;
      transition: all 0.25s;
    }
  }

  button:hover {
    img {
      filter: blur(4px);
    }

    .Overlay {
      opacity: 1;
    }

    p {
      background-color: rgba(60, 60, 60, 0);
    }
  }
}

/* Portfolio pieces */

.img-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  float: right;
}

object {
  width: 100%;
  height: 100vh;
}

video {
  width: 90%;
  margin: 1rem auto;
}

img {
  width: 90%;
  margin: 1rem;
}

.large-img {
  position: fixed;
  top: -5%;
  left: 5%;
  transform: scale(0.9);
}

.small {
  max-width: 300px;
  width: 75%;
  margin: 1rem;
}

.CodeExplanation {
  justify-content: center;
  margin: 1% 5%;

  p {
    text-align: center;
  }
}

.container .CodeButtons {
  width: 500px;
  height: 200px;
  max-width: 80vw;
}

@media (max-width: 850px) {
  p {
    margin-left: 2%;
    margin-right: 2%;
  }
  .container {
    button {
      width: 70vw;
      max-width: 70vw;
    }
    .Overlay {
      width: 200%;
      max-width: 70vw;
    }
  }

  .Footer {
    flex-wrap: wrap;
    min-height: fit-content;
    max-height: 20vh;
    flex: 1;
  }

  .img-holder {
    float: none;
    align-items: center;
    justify-content: center;

    img {
      width: 70vw;

      margin-left: auto;
      margin-right: auto;
    }

    video {
      width: 70vw;
    }
  }
}
